.home-container {
  width: 100%;
  position: relative;
}

.content {
  position: relative;
  z-index: 1;
  background-image: url("../assets/MMH112IMG_0368 (1) 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 74px);
  display: flex;
  flex-direction: column;
}

.hero-section {
  position: relative;
  padding-top: 50px;
  margin-top: 50px;
  margin-bottom: auto;
  background-image: url("../assets/Rectangle.png");
  background-size: auto;
  background-position: start;
  background-repeat: no-repeat;
}

.hero-text {
  padding: 15px 100px;
}

.hero-text h1 {
  color: #ffffff;
  font-family: "Archivo", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
}

.company-info {
  display: flex;
  max-width: 1200px;
  gap: 0;
}

.mikro-section,
.hardten-section {
  flex: 1;
  padding: 40px 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
}

.mikro-section h2,
.hardten-section h2 {
  font-family: "Archivo", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.mikro-section h2 {
  color: #ff0000;
  margin-left: 175px;
}

.hardten-section h2 {
  color: #000000;
  margin-left: 50px;
}

.mikro-section p {
  margin-left: 175px;
}

.hardten-section p {
  color: #000000;
  margin-left: 50px;
}

.mikro-section p,
.hardten-section p {
  color: #666666;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 300px;
}

.mikro-section {
  clip-path: polygon(0 0, 72% 0, 100% 100%, 0% 100%);
  background: #ffffff;
  z-index: 2;
  margin-right: 61px;
}

.hardten-section {
  clip-path: polygon(0 0, 75% 0, 100% 100%, 23% 100%);
  background: #f5f5f5;
  margin-left: -236px;
  padding-left: 189px;
}

.manufacturing-section {
  width: 100%;
  background: #ffffff;
  position: relative;
}

.manufacturing-top-section {
  width: 100%;
  background: #ffffff;
  position: relative;
  z-index: 2;
}

.manufacturing-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  background: #ffffff;
}

.manufacturing-left {
  max-width: 780px;
  position: relative;
  z-index: 2;
  background: #ffffff;
  padding: 20px;
}

.manufacturing-title {
  margin-bottom: 32px;
  width: 400px;
  height: auto;
  background: #ffffff;
}

.manufacturing-title h2 {
  font-family: "Archivo", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin: 0;
  background: linear-gradient(95.07deg, #170f10 0.48%, #ec1d36 89.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: flex;
  flex-direction: column;
}

.manufacturing-title h2 span {
  display: block;
  margin-bottom: 8px;
}

.manufacturing-description {
  background: #ffffff;
}

.manufacturing-description p {
  color: #2d1b1b;
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  max-width: 660px;
  letter-spacing: 0.02em;
}

.manufacturing-description p span.line-break {
  display: block;
}

.manufacturing-partnership {
  max-width: 320px;
  position: absolute;
  right: 63px;
  top: 274px;
  z-index: 2;
  padding: 20px;
}

.manufacturing-partnership p {
  color: #2d1b1b;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 24px 0;
}

.know-more-btn {
  background: #ff0000;
  color: #ffffff;
  padding: 12px 32px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.know-more-btn:hover {
  background: #e60000;
}

.manufacturing-right {
  width: 100%;
  height: 500px;
  position: relative;
  z-index: 1;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0 97%,
    0 0,
    54% 0,
    67% 28%,
    100% 28%,
    100% 98%,
    100% 100%,
    100% 0%
  );
}

.manufacturing-image-wrapper {
  width: 100%;
  height: 100%;
}

.manufacturing-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%;
}

.sets-apart-section {
  background: #ffffff;
  height: 849px;
  width: 100%;
  padding: 60px 0;
}

.sets-apart-wrapper {
  display: flex;
  gap: 60px;
}

.sets-apart-left {
  flex: 1;
  position: relative;
}

.sets-apart-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.sets-apart-image img {
  width: 90%;
  object-fit: cover;
}

.sets-apart-overlay {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: rgba(255, 0, 0, 0.8);
  padding: 35px;
  text-align: start;
}

.sets-apart-overlay h2 {
  color: #ffffff;
  font-size: 72px;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
}

.sets-apart-right {
  flex: 1;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 20px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.feature-icon {
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.feature-item h3 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  margin: 0;
  text-transform: uppercase;
}

.feature-item p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #666666;
  margin: 0;
}

.feature-icon.customer-centric {
  background-image: url("../assets/CustomerCentric.png");
}

.feature-icon.continuous-improvement {
  background-image: url("../assets/continuous-improvement_16913063 1.png");
}

.feature-icon.solid-rock {
  background-image: url("../assets/solidRock.png");
}

.feature-icon.smp-dies {
  background-image: url("../assets/SMPDIES.png");
}

.feature-icon.reconditioning {
  background-image: url("../assets/recondition.png");
}

.feature-icon.one-stop {
  background-image: url("../assets/OnesStopshop.png");
}

.our-services-section {
  background: #ffffff;
  min-height: 820px;
  width: 100%;
  position: relative;
  overflow: visible;
  z-index: 1;
  margin-top: 60px;
}

.our-services-wrapper {
  margin: 0 auto;
  position: relative;
}

.services-left {
  width: 676px;
  position: absolute;
  top: 141px;
  display: flex;
  flex-direction: column;
  gap: 0;
  z-index: 2;
  background: #4e4a45;
}

.service-item {
  width: 496px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.service-item.main-service {
  padding: 40px;
}

.service-item:not(.main-service) {
  padding: 20px 40px;
}

.service-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.service-header h3 {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.service-header img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.service-item.active .service-header img {
  transform: rotate(180deg);
}

.service-item p {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  margin: 20px 0;
  opacity: 0.8;
  display: none;
}

.service-item.active p {
  display: block;
}

.service-item .know-more-btn {
  display: none;
}

.service-item.active .know-more-btn {
  display: inline-block;
  margin-top: 20px;
}

.services-right {
  position: absolute;
  width: 786px;
  height: 589px;
  top: 40px;
  left: 536px;
  overflow: hidden;
}

.services-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.services-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-overlay {
  position: absolute;
  top: 36%;
  left: 75%;
  transform: translate(-50%, -50%);
  background: rgba(255, 0, 0, 0.8);
  padding: 10px 70px;
  text-align: end;
  white-space: nowrap;
}

.services-overlay h2 {
  color: #ffffff;
  font-size: 72px;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
  text-transform: uppercase;
}

.know-more-btn {
  background: #ff0000;
  color: #ffffff;
  padding: 12px 32px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.know-more-btn:hover {
  background: #e60000;
}

.intro-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  letter-spacing: 0%;
  color: #666;
  margin-bottom: 20px;
  margin-top: -120px;
}

.slidercontainer {
  background-color: #ebecec;
}

.title-aLong {
  font-family: Archivo;
  font-weight: 800;
  font-size: 40px;
  line-height: 110.00000000000001%;
  letter-spacing: 1%;
  text-transform: uppercase;
}

.carousel-wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1200px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  margin-left: 0;
}

.lemhy {
  background: #4a4a4a;
  color: #fff;
  width: 736px;
  min-height: 305px;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  gap: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  flex-shrink: 0;
}

.card-image {
  width: 193px;
  height: 257px;
  margin-right: 20px;
  object-fit: cover;
}

.card-content {
  flex-grow: 1;
}

.testimonial-text {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1.5;
}

.rating {
  color: #ffd700;
  margin-bottom: 5px;
}

.author {
  font-weight: bold;
}

.title-text {
  font-weight: normal;
  color: #ccc;
}

.carousel-controls {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  margin-bottom: 50px;
}

.nav-icon {
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  color: #333;
  transition: color 0.3s;
}

.nav-icon:hover {
  color: #000;
}

.pagination {
  font-size: 14px;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
}

.vector-image-wrapper {
  margin-top: 40px;
}

.vector-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.stats-banner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stats-overlay {
  position: absolute;
  top: 72px;
  left: 22%;
  width: 50%;
  height: 52%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.stat-item {
  flex: 1;
}

.stat-item h2 {
  font-size: 2.5em;
  margin: 0;
  font-weight: bold;
}

.stat-item p {
  font-size: 1em;
  margin: 5px 0 0;
  font-weight: normal;
  color: #fff;
}

.clients-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  gap: 60px;
  flex-wrap: wrap;
  background-color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.clients-text {
  max-width: 300px;
}

.clients-text small {
  color: #ff0000;
  font-style: italic;
}

.clients-text h2 {
  font-size: 40px;
  font-weight: 800;
  margin-top: 10px;
  text-transform: uppercase;
  background: linear-gradient(95.07deg, #170f10 0.48%, #ec1d36 89.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.clients-logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.clients-logos img {
  max-width: 192px;
  height: auto;
  object-fit: contain;
}

.clients-logos img::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #000000;
  margin: 10px auto 0;
}

.card-date {
  font-size: 0.85rem;
  color: gray;
}

.blog-card {
  transition: all 0.3s ease-in-out;
  border: 1px solid #eee;
  border-radius: 8px;
}

.blog-card:hover {
  background-color: #ff0000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.blog-card:hover .card-title,
.blog-card:hover .card-text,
.blog-card:hover .card-date,
.blog-card:hover .read-more {
  color: #ffffff;
}

.card-title {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  margin-top: 0.5rem;
  font-family: Archivo;
}

.card-text {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 1rem;
  font-family: Public Sans;
}

.read-more {
  color: #d60000;
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}

.view-all {
  font-size: 0.95rem;
}

.blog-heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  font-family: Archivo;
  background: linear-gradient(95.07deg, #170f10 0.48%, #ec1d36 89.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  cursor: pointer;
  color: transparent;
}

/* Responsive Design for Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .hero-text {
    padding: 15px 40px;
  }

  .hero-text h1 {
    font-size: 48px;
  }

  .company-info {
    flex-direction: column;
    max-width: 100%;
  }

  .mikro-section,
  .hardten-section {
    padding: 30px;
    margin: 0;
  }

  .mikro-section h2,
  .hardten-section h2,
  .mikro-section p,
  .hardten-section p {
    margin-left: 0;
    max-width: 100%;
  }

  .mikro-section {
    clip-path: none;
  }

  .hardten-section {
    clip-path: none;
    padding-left: 30px;
  }

  .manufacturing-left {
    max-width: 100%;
    padding: 15px;
  }

  .manufacturing-title {
    width: 100%;
  }

  .manufacturing-title h2 {
    font-size: 32px;
  }

  .manufacturing-partnership {
    position: relative;
    right: 0;
    top: 0;
    max-width: 100%;
    padding: 15px;
  }

  .manufacturing-right {
    height: 350px;
  }

  .sets-apart-section {
    height: auto;
    padding: 40px 20px;
  }

  .sets-apart-wrapper {
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
  }

  .sets-apart-overlay {
    padding: 20px;
  }

  .sets-apart-overlay h2 {
    font-size: 48px;
  }

  .feature-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .our-services-section {
    min-height: auto;
    padding: 40px 0;
  }

  .services-left {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
  }

  .service-item {
    width: 100%;
  }

  .services-right {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    margin-top: 30px;
  }

  .services-overlay {
    left: 50%;
    padding: 10px 40px;
  }

  .services-overlay h2 {
    font-size: 48px;
  }

  .carousel-wrapper {
    max-width: 100%;
    padding: 0 15px;
  }

  .lemhy {
    width: 100%;
    min-height: auto;
    padding: 20px;
  }

  .card-image {
    width: 160px;
    height: 220px;
  }

  .stats-overlay {
    left: 10%;
    width: 80%;
    top: 60px;
    flex-direction: row;
    gap: 15px;
  }

  .stat-item h2 {
    font-size: 2em;
  }

  .clients-section {
    flex-direction: column;
    padding: 60px 20px;
    gap: 40px;
  }

  .clients-logos {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .blog-heading {
    font-size: 32px;
  }
  .intro-text{
    margin-top: 5px;
  }
  .slidercontainer{
    height: 668px;
  }

  .clients-section .clients-row {
    flex-direction: column;
    align-items: center;
  }

  .clients-section .clients-text {
    order: -1; /* Place clients-text first */
    width: 100%;
    margin-bottom: 30px;
  }

  .clients-section .clients-logos {
    order: 0; /* Place clients-logos after clients-text */
    width: 100%;
  }

  
}

/* Responsive Design for Mobile (max-width: 576px) */
@media (max-width: 576px) {
  .hero-text {
    padding: 10px 15px;
  }

  .hero-text h1 {
    font-size: 32px;
    line-height: 1.3;
  }

  .company-info {
    flex-direction: column;
  }

  .mikro-section,
  .hardten-section {
    padding: 20px;
  }

  .mikro-section h2,
  .hardten-section h2 {
    font-size: 22px;
    margin-left: 0;
  }

  .mikro-section p,
  .hardten-section p {
    font-size: 14px;
    margin-left: 0;
    max-width: 100%;
  }

  .mikro-section {
    clip-path: none;
    margin-right: 0;
  }

  .hardten-section {
    clip-path: none;
    padding-left: 20px;
    margin-left: 0;
  }

  .manufacturing-left {
    padding: 10px;
  }

  .manufacturing-title h2 {
    font-size: 26px;
  }

  .manufacturing-description p {
    font-size: 14px;
  }

  .manufacturing-partnership {
    position: relative;
    right: 0;
    top: 0;
    padding: 10px;
  }

  .manufacturing-partnership p {
    font-size: 14px;
  }

  .manufacturing-right {
    height: 250px;
  }

  .sets-apart-section {
    padding: 30px 15px;
    height: auto;
  }

  .sets-apart-wrapper {
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
  }

  .sets-apart-left {
    width: 100%;
  }

  .sets-apart-image img {
    width: 100%;
  }

  .sets-apart-overlay {
    padding: 15px;
  }

  .sets-apart-overlay h2 {
    font-size: 32px;
    line-height: 1.3;
  }

  .sets-apart-right {
    width: 100%;
  }

  .feature-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
  }

  .feature-item h3 {
    font-size: 16px;
  }

  .feature-item p {
    font-size: 12px;
  }

  .our-services-section {
    min-height: 700px;
    padding: 40px 0;
  }

  .services-left {
    width: 100%;
    top: 0;
    padding: 0 15px;
  }

  .service-item {
    width: 100%;
  }

  .service-item.main-service {
    padding: 20px;
  }

  .service-item:not(.main-service) {
    padding: 15px 20px;
  }

  .service-header h3 {
    font-size: 14px;
  }

  .service-item p {
    font-size: 14px;
  }

  .services-right {
    height: 300px;
    margin-top: 20px;
  }

  .services-overlay {
    padding: 8px 20px;
  }

  .services-overlay h2 {
    font-size: 28px;
  }

  .intro-text {
    font-size: 14px;
    margin-top: 15px;
  }

  .title-aLong {
    font-size: 28px;
  }

  .lemhy {
    flex-direction: column;
    padding: 15px;
    width: 100%;
  }

  .card-image {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .testimonial-text {
    font-size: 16px;
  }

  .stats-overlay {
    top: 43px;
    left: 5%;
    width: 90%;
    flex-direction: column;
    padding: 8px;
    gap: 20px;
  }

  .stat-item h2 {
    font-size: 1.8em;
  }

  .stat-item p {
    font-size: 0.9em;
  }

  .clients-section {
    padding: 40px 15px;
    gap: 20px;
  }

  .clients-text {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .clients-text small {
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
  }

  .clients-text h2 {
    font-size: 40px;
    line-height: 1.3;
  }

  .clients-logos {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }

  .clients-logos img {
    max-width: 150px;
  }

  .clients-logos img::after {
    width: 30px;
    margin: 8px auto 0;
  }

  /* Ensure clients-text appears before clients-logos */
  .row {
    flex-direction: column;
    align-items: center;
  }

  .col-4.clients-text {
    order: -1; /* Place clients-text first */
    width: 100%;
    margin-bottom: 20px;
  }

  .col-8.clients-logos {
    order: 0; /* Place clients-logos after clients-text */
    width: 100%;
  }
  

  /* Target only the clients-section container */
  .clients-section .container {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
  }

  /* Navbar styles to constrain height */
  .navbar {
    height: 60px; /* Adjust as needed */
    padding: 10px 15px;
    line-height: 1.5;
  }

  .navbar-brand,
  .navbar-nav .nav-link {
    font-size: 14px;
    padding: 5px 10px;
  }

  .navbar-toggler {
    padding: 5px;
  }

  .navbar-collapse {
    padding: 10px 0;
  }

  .blog-heading {
    font-size: 26px;
  }

  .blog-card {
    padding: 10px;
  }

  .card-title {
    font-size: 0.9rem;
  }

  .card-text {
    font-size: 0.8rem;
  }

  .read-more {
    font-size: 0.8rem;
  }

  .banner-image {
    min-height: 400px;
  }

  .slidercontainer {
    height: 1000px;
  }
}